{% extends 'app/base.html' %}
{% block content %}

<div class="form-content">
    <p class="heading">
        Book a visit to Charity childrens home
    </p>
    <br>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="full_name" placeholder="Full Name" required><br><br>
        <input type="tel" name="phone" placeholder="Phone Number" maxlength="14" required><br><br>
        <input type="number" name="number" placeholder="Number of visitors" required><br><br>
        <input type="text" name="location" placeholder="Area of resident" required><br><br>
        <button>Submit</button>
    </form>
</div>
{% endblock content %}