{% include 'app/base.html' %}
{% block content %}

<div class="body-content">
    <h3>Contac Us</h3><br>
    <p>You can contact us through:</p><br>

    Email:  <a href="">charitychildrenshomeKE@gmail.com</a><br><br>
    Phone:  <a href="tel:0792613079">0792613079</a>
    <!-- <div id="social">
        <h4>Our social media platforms</h4><br>
        <a href="https://twitter.com" id="whatsapp" ><i class="fa fa-whatsapp"></i></a>Whatsapp<br><br>
        <a href="" id="facebook"><i class="fa fa-facebook"></i></a>Facebook<br><br>
        <a href="" id="twitter"><i class="fa fa-twitter"></i></a>Twitter<br><br>
        <a href="" id="instagram"><i class="fa fa-instagram"></i></a>Instagram<br><br>
    </div> -->
</div>
{% endblock content %}